{% extends 'parent.html' %}

{% block Title %}Login To ITI System{% endblock %}

{% block content %}
<form method="POST">
    {% csrf_token %}


    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <!-- Email input -->
    <div class="form-outline mb-4">
        <input type="email" name="email" id="form2Example1" class="form-control" required />
        <label class="form-label" for="form2Example1">Email address</label>
    </div>

    <!-- Password input -->
    <div class="form-outline mb-4">
        <input type="password" name="password" id="form2Example2" class="form-control" required />
        <label class="form-label" for="form2Example2">Password</label>
    </div>

    <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
</form>
{% endblock %}
